@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="padding-top:60px">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<table class="table table-bordered">
				<thead>
					<tr class="success">
						<td colspan="2">
							New User Registration
							<a class="btn btn-success pull-right" href="Index">Login</a> 
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Firstname</td>
						<td>
							<input type="text" id="txtFirstname" placeholder="Firstname" />
						</td>
					</tr>

					<tr>
						<td>Lastname</td>
						<td>
							<input type="text" id="txtLastname" placeholder="Lastname" />
						</td>
					</tr>

					<tr>
						<td>Username</td>
						<td>
							<input type="text" id="txtUsername" placeholder="Username" />
						</td>
					</tr>

					<tr>
						<td>Password</td>
						<td>
							<input type="text" id="txtPassword" placeholder="Password" />
						</td>
					</tr>

					<tr>
						<td>ConfirmPassword</td>
						<td>
							<input type="text" id="txtConfirmPassword" placeholder="ConfirmPassword" />
						</td>
					</tr>

					<tr>
						<td>Email</td>
						<td>
							<input type="text" id="txtEmail" placeholder="Email" />
						</td>
					</tr>

					<tr class="success">
						<td colspan="2">
							<input id="btnRegister" class="btn btn-success" type="button" value="Register" />
						</td>
					</tr>

				</tbody>
			</table>
			<div class="modal fade" tabindex="-1" id="successModal"
				 data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								&times;
							</button>
							<h4>Success</h4>
						</div>
						<div class="modal-body">
							<h2>Registration was Successful</h2>
						</div>
						<div class="modal-footer">
							<button type="button" data-dismiss="modal" class="btn btn-success">
								Close
							</button>
						</div>
					</div>
				</div>
			</div>
			<div id="divError" class="alert alert-danger collapse">
				<a id="linkClose" class="close" href="#">&times;</a>
				<div id="divErrorText"></div>
			</div>
		</div>
	</div>

	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#linkClose').click(function () {
				$('#divError').hide('fade');
			});

			$('#btnRegister').click(function () {
				$.ajax({
					type: "POST",
					url: "http://localhost:53594/api/accounts/create",
					dataType: "json",
					contentType: "application/x-www-form-urlencoded",
					data: {
						Firstname: $('#txtFirstname').val(),
						Lastname: $('#txtLastname').val(),
						Username: $('#txtUsername').val(),
						Password: $('#txtPassword').val(),
						ConfirmPassword: $('#txtConfirmPassword').val(),
						Email: $('#txtEmail').val(),
					},

					success: function () {
						$('#successModal').modal('show');
					},

					error: function (jqXHR) {
						$('#divErrorText').text(jqXHR.responseText);
						$('#divError').show('fade');
					}
				});
			});
		});

	</script>
</body>
</html>